.MainMain {
  width: calc(100vw - 100px);
  height: calc(100vh - 120px);
}
.MainMain__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  overflow-y: scroll;
}
.MainMain__list-item {
  width: 95%;
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
}

.MainMain__note-link {
  padding-bottom: 20px;
  line-height: 30px;
}